<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Progress Tracker</title>
  <link rel="stylesheet" href="/css/progress.css">
</head>
<body>
  <div class="container">
    <h1>📈 Your Focus Progress</h1>

    <div class="progress-circle" id="progressCircle">
      <span id="progressText">0%</span>
    </div>

    <div class="goal-info">
      <p>Daily Focus Goal: <span id="dailyGoal"><%=progress.focusGoal%></span> minutes</p>
      <p>Completed: <span id="completed"><%=progress.focusMins%></span> minutes</p>
    </div>

    <button class="btn" id="completePomodoro">+ Add 30-Min Pomodoro</button>
  <div class="bottom_tags">
    <button class="goal_tag" id="change">change Goal</button>
    <a class="goal_tag" href="/resetGoal/<%=progress.id%>" >Reset goal</a>
  
  </div>
  <div class="bottom_box hide">
    <form action="/changeGoal/<%=progress.id%>" method="POST">
      <input type="text" value="<%=progress.focusGoal%>" name="focusGoal" placeholder="<%=progress.focusGoal%>">
      <button id="changeGoal_btn" type="submit">Change Goal</button>
    </form>
  </div>
  </div>


  <!-- Scripts --> 
   <script src="/frontend/progress.js"></script>
  <script src="/frontend/pomodoro.js"></script>

 <script>
  const changeGoalBtn = document.querySelector('#changeGoal_btn');
  const bottomBox = document.querySelector('.bottom_box');
  document.querySelector('#change').addEventListener('click',()=>{
    bottomBox.classList.remove("hide");

    
  });
  //changeGoalBtn.addEventListener('click',)
 </script>
  <!-- <script>
  document.getElementById("addPomodoro").addEventListener("click", () => {
  updateProgress(30); // Adds 25 minutes to progress
});
</script> -->

</body>

</html>
